:root {
  --site-width: 98rem;
}

html {
  font-size: 62.5%;
  font-family: Arial;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
